.article {
  padding: 0.7em;
  margin: 1em;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.article:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, #cfb865 0px 0px 0px 1px;
}

.articledate {
  color: #cfb865;
}
@media (max-width: 599px) {
  .article {
    width: 100%;
  }
}
