.namecontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.herosection {
  width: 90%;
}

.nameh1 {
  font-size: 2em;
  margin: 0;
}
.namep1 {
  font-size: 1.5em;
  color: #cfb865;
}
.nameimg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.pcommon {
  color: #787878;
  width: 100%;
}
.icon {
  display: flex;
  justify-content: flex-end;
  padding-top: 2em;
  width: 100%;
}

@media (max-width: 599px) {
  .namecontainer {
    flex-direction: column;
  }
  .herosection {
    width: 100%;
  }
  .nameh1 {
    text-align: center;
  }
  .namep1 {
    text-align: center;
  }
  .nameimg {
    margin-left: auto;
    margin-right: auto;
  }
  .pcommon {
    width: 100%;
  }
  .icon {
    justify-content: center;
    padding-top: 1em;
    width: 100%;
  }
  /* html {
    color-scheme: #3e3e38;
  }
  body {
    color: white;
    background: black;
  } */
}
