.hero_wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.hero_container {
  display: flex;
  justify-content: space-between;
}

.hero_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_title {
  font-size: 2em;
  margin: 0;
}
.hero_sub_title {
  font-size: 1.4rem;
  color: #cfb865;
  margin: 0.5rem 0;
}
.hero_img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.intro_description {
  color: #787878;
  line-height: 1.4rem;
  width: 100%;
}
.sns_icon_container {
  display: flex;
  justify-content: flex-end;
  padding-top: 2em;
  width: 100%;
}

@media (max-width: 768px) {
  .hero_container {
    flex-direction: column;
  }
  .hero_title_container {
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .sub_title {
    text-align: center;
  }
  .hero_img {
    margin-left: auto;
    margin-right: auto;
  }
  .intro_description {
    width: 100%;
  }
  .sns_icon_container {
    justify-content: center;
    padding-top: 1em;
    width: 100%;
  }
}
