.app_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15rem;
  max-width: 1280px;
}

.hero_section {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.main_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .app_container {
    padding: 0 !important;
    margin: 0;
  }
  .hero_section {
    margin-top: 2rem;
  }
}

/* @media (max-width: 1024px) {
  .app_container {
    padding: 0 4rem;
  }
} */

@media (max-width: 1280px) {
  .app_container {
    padding: 0 10rem;
  }
}
