.article_container {
  width: 100%;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.article_container:hover {
  background-color: #e1e0dc;
}

.article_date {
  color: #cfb865;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .article {
    width: 100%;
  }
}
