.navul {
  padding: 0;
}

.navli {
  list-style: none;
  padding: 1rem 0;
}

.navli:first-child {
  padding-top: 0;
}

.nava:hover {
  background-color: #cfb865;
  opacity: 0.7;
  border-radius: 10px;
  padding: 0 1rem;
}
.nava:focus {
  background-color: #cfb865;
  opacity: 0.7;
  border-radius: 10px;
  padding: 0 1rem;
}

.eachicon {
  color: "#3e3e38";
}

@media (max-width: 1024px) {
  .navul {
    display: flex;
    justify-content: space-around;
  }
  .navli {
    list-style: none;
    padding: 0 3em;
  }
  .navli:first-child {
    padding-top: 0;
  }

  /* html {
    color-scheme: #3e3e38;
  }
  body {
    color: white;
    background: black;
  } */
}

@media (max-width: 599px) {
  .navul {
    display: flex;
  }
  .navli {
    list-style: none;
    padding: 0 3em;
  }
  .navli:first-child {
    padding-top: 0;
  }
  /* html {
    color-scheme: #3e3e38;
  }
  body {
    color: white;
    background: black;
  } */
}
