.nav {
  width: 100%;
}

.navul {
  padding: 0;
}

.navli {
  list-style: none;
  padding: 1rem 0;
}

.navli:first-child {
  padding-top: 0;
}

.nava:hover {
  color: #cfb865;
}
.nava:focus {
  color: #cfb865;
}

.eachicon {
  color: "#3e3e38";
}

@media (max-width: 599px) {
  .navul {
    display: flex;
    justify-content: space-between;
  }

  .navli {
    padding: 0;
  }

  /* html {
    color-scheme: #3e3e38;
  }
  body {
    color: white;
    background: black;
  } */
}
