.project_container {
  margin-top: 2em;
  padding: 1.5em 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.project_title_container {
  display: flex;
  align-items: center;
}

.project_title {
  margin: 0;
  color: #cfb865;
  padding-bottom: 1rem;
}

.project_img {
  width: 100%;
}
.project_img_link {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #282825;
}

.project_img_link:hover {
  filter: grayscale(100%);
}

.tech_stack_container {
  padding-top: 2rem;
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

.tech_stack {
  margin: 0;
  color: #787878;
}

.project_discription {
  color: #787878;
  line-height: 1.4rem;
}

@media (max-width: 599px) {
  .tech_stack_container {
    padding: 1rem 0 1rem 0;
  }

  .project_discription {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
}
