.project {
  margin-top: 2em;
  padding: 1.5em 0.7em;
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.project:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.projectimg {
  width: 30%;
}
.textsection {
  padding-left: 2rem;
  width: 70%;
}

.subtitleh3 {
  margin-top: 1rem;
}
.procectsgithubimg {
  height: 20px;
  width: 20px;
}
.techresoursecontainer {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.githublinkcontainer {
  display: flex;
  justify-content: space-between;
}
.projectsresourse {
  margin: 0;
  color: #cfb865;
}

.projectslink {
  margin: 0;
}
.projectsp {
  color: #787878;
  line-height: 1.4rem;
}

@media (max-width: 599px) {
  .project {
    flex-direction: column;
    /* padding: 1.5em 0.7em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    width: 100%;
  }
  .projectimg {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .textsection {
    padding-left: 0;
    width: 100%;
  }
  .techresoursecontainer {
    padding-top: 0;
  }
  .projectsresourse {
    font-size: 0.7em;
  }
  .projectslink {
    font-size: 0.7em;
  }
  .projectsp {
    font-size: 0.8em;
    margin: 0.5em 0;
  }
}
