.tab {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.tabs_container {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.tab_link {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #ecebe5;
  border-radius: 30px;
  color: #787878;
}

.active {
  border: #787878 2px solid;
  color: #282825;;
}
.tab_link:hover {
  background-color: #e1e0dc;
}

@media (max-width: 1024px) {
  .tabs_container {
    gap: 1rem;
    font-size: small;
  }
}
