.tab {
  width: 100%;
  margin-top: 3rem;
}

.tabs_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab_link {
  text-align: center;
  padding: 1rem 0;
}

.active {
  background-color: #ecebe5;
  border-bottom: solid 1px black;
}
