.techstack {
  padding-top: 7rem;
}
.titleh2 {
  margin: 0;
}
.techstackparent {
  padding-top: 2rem;
  display: flex;
}
.techstackimg {
  margin-right: 1rem;
  height: 50px;
  width: 50px;
}

@media (max-width: 599px) {
  .techstack {
    padding-top: 4rem;
  }
  .techstackimg {
    margin-right: 1rem;
    height: 30px;
    width: 30px;
  }
}
