.techstack_container {
  padding-top: 7rem;
}
.techstack_title {
  margin: 0;
}
.techstack_img_container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 599px) {
  .techstack_container {
    padding-top: 4rem;
  }
  .techstack_img_container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
